@font-face {
  font-family: "Signifier";
  src: url("public/signifier/Signifier-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Signifier";
  src: url("public/signifier/Signifier-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Signifier";
  src: url("public/signifier/Signifier-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Signifier";
  src: url("public/signifier/Signifier-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  font-family: "Signifier", serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      to right,
      rgba(200, 200, 200, 0.4) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(200, 200, 200, 0.4) 1px, transparent 1px);
  background-size: 3vw 3vw;
}

header,
footer {
  font-size: 1.5em;
  display: flex;
  padding: 20px;
  align-items: center;
}

header {
  justify-content: space-between;
}
footer {
  justify-content: flex-end;
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 1em;
  background-color: white;
  border: 1px solid black;
  vertical-align: text-top;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    background-color: transparent;
    border-color: transparent;
  }
}

.terminal-prompt {
  font-family: "Courier New", monospace;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
}

.header-links a,
.footer-links a {
  margin-left: 25px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.topics {
  font-size: 3em;
}

.software a:hover {
  color: #0073e6;
}
.economics a:hover {
  color: #009975;
}
.trading a:hover {
  color: #d50032;
}
.interview-problems a:hover {
  color: #6a0dad;
}

.logo {
  height: 40px;
}

.topic a {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 25px;
  transition: color 0.5s ease;
}

.topic a::after {
  content: "";
  height: 2px;
  display: block;
  margin-top: 4px;
  background: currentColor;
  transition:
    width 0.5s ease,
    right 0.5s ease;
}

.topic a:hover::after {
  width: 100%;
  right: 0;
}

.topic a:not(:hover)::after {
  width: 0;
  right: 100%;
}
