@font-face {
  font-family: 'Signifier';
  src: url('public/signifier/Signifier-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Signifier';
  src: url('public/signifier/Signifier-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Signifier';
  src: url('public/signifier/Signifier-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Signifier';
  src: url('public/signifier/Signifier-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

html,
body {
  height: 100%;
  font-family: "Signifier";
  margin: 0;
  display: flex;
  flex-direction: column;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  background-color: #f3f3f3;
}

main {
  flex: 1;
}

header,
footer {
  text-align: center;
  padding: 10px 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  flex: 1;
  text-align: left;
}

.header-right {
  flex: 1;
  text-align: right;
}

img.logo {
  width: 7%;
  height: auto;
}

ul {
  list-style: none; /* no bullet points */
}
