---
import { getCollection } from "astro:content";
import PostLayout from "../../layouts/PostLayout.astro";

export async function getStaticPaths() {
  const repos = await getCollection("git");
  return repos.map((repo) => ({
    params: { slug: repo.slug },
    props: { repo },
  }));
}

const { repo } = Astro.props;
const { Content } = await repo.render();
const pageTitle = `git/${repo.data.title ?? repo.slug}`;
---

<PostLayout frontmatter={repo.data} post={repo}>
  <Fragment slot="head">
    <title>{pageTitle}</title>
    <script type="module" src="/scripts/index.js"></script>
  </Fragment>
  <Content />
</PostLayout>
