---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Barrett Ruth">
  <div class="post-container">
    <header class="post-header">
      <h1 class="post-title">Barrett Ruth</h1>
    </header>
    <article class="post-article">
      <p>
        I am a software developer studying computer science at the
        University of Virginia.
      </p>
      <p>
        I began working as a software engineer part-time with
        <a target="blank" href="https://gotransverse.com/">GoTransverse</a>
        in high school. After developing an interest in the
        financial/venture capital world, I transitioned to
        <a target="blank" href="https://www.nthventure.com/">Nth Venture</a>
        in the spring of my second year. I worked at
        <a target="blank" href="https://usa.visa.com/">VISA</a> and
        <a href="https://trbcap.com" target="_blank">TRB Capital Management</a>
        during the summer of 2024. Luckily enough, I'll be joining
        <a href="https://drw.com" target="_blank">DRW</a> and
        <a href="https://ramp.com" target="_blank">Ramp</a> in the summer
        and spring of 2025.
      </p>
      <p>
        I've a developing interest in high-performance computing,
        quantitative finance, and open-source software. I am also a
        passionate contributor to the (Neo)Vim ecosystem and beyond.
      </p>
      <p>
        You can see my related contributions on
        <a target="blank" href="https://github.com/barrett-ruth">GitHub</a>.
      </p>
    </article>
  </div>
  
  <slot name="head" slot="head">
    <link rel="stylesheet" href="/styles/post.css" />
  </slot>
</BaseLayout>

