---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const title = "Barrett Ruth";

const allPosts = await getCollection("posts");
const postsByCategory = allPosts.reduce((acc, post) => {
  const category = post.id.split("/")[0];
  if (!acc[category]) acc[category] = [];
  acc[category].push(post);
  return acc;
}, {});

Object.keys(postsByCategory).forEach((category) => {
  postsByCategory[category].sort((a, b) => {
    const parseEuroDate = (dateStr) => {
      if (!dateStr) return new Date(0);
      const [day, month, year] = dateStr.split("/");
      return new Date(year, month - 1, day);
    };

    const dateA = parseEuroDate(a.data.date);
    const dateB = parseEuroDate(b.data.date);
    return dateB.getTime() - dateA.getTime();
  });
});
---

<BaseLayout title={title}>
  <slot name="head" slot="head">
    <link rel="stylesheet" href="/styles/index.css" />
  </slot>
  <div class="content">
    <ul class="topics">
      <li class="topic algorithms">
        <a href="#algorithms" data-topic="algorithms">algorithms</a>
      </li>
      <li class="topic software">
        <a href="#software" data-topic="software">software</a>
      </li>
      <li class="topic autonomous-racing">
        <a href="#autonomous-racing" data-topic="autonomous-racing">autonomous racing</a>
      </li>
      <li class="topic meditations">
        <a href="#meditations" data-topic="meditations">meditations</a>
      </li>
    </ul>
    <div class="posts" id="posts"></div>
  </div>

  <script slot="scripts" define:vars={{ postsByCategory }}>
    window.postsByCategory = postsByCategory;
  </script>
  <script slot="scripts" type="module" src="/scripts/index.js"></script>
</BaseLayout>
