---
import { getCollection } from "astro:content";
import PostLayout from "../../layouts/PostLayout.astro";

export async function getStaticPaths() {
  const gists = await getCollection("gists");
  return gists.map((gist) => ({
    params: { slug: gist.slug },
    props: { gist },
  }));
}

const { gist } = Astro.props;
const { Content } = await gist.render();
const pageTitle = `${gist.slug}`;
---

<PostLayout frontmatter={gist.data} post={gist}>
  <Fragment slot="head">
    <title>{pageTitle}</title>
    <script type="module" src="/scripts/index.js"></script>
  </Fragment>
  <Content />
</PostLayout>
