<footer>
  <div class="footer-links-left">
    <a href="/resume.pdf" data-topic="resume" target="_blank">resume</a>
    <a href="/transcript.pdf" data-topic="transcript" target="_blank"
      >transcript</a
    >
    <a href="/about.html" data-topic="about">about</a>
  </div>
  <div class="footer-links-right">
    <a href="/gist.html" data-topic="gist">gist</a>
    <a href="/git.html" data-topic="git">git</a>
    <a
      href="https://www.linkedin.com/in/barrett-ruth/"
      data-topic="linkedin"
      target="_blank">linkedin</a
    >
    <a href="mailto:br.barrettruth@gmail.com" data-topic="mail">email</a>
  </div>
</footer>

<style>
  .footer-links-left,
  .footer-links-right {
    display: flex;
    gap: 25px;
  }
  .footer-links-left a,
  .footer-links-right a {
    text-decoration: none;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .footer-links-left,
    .footer-links-right {
      flex-direction: column;
      gap: 5px;
    }
  }
</style>

<script src="/scripts/index.js" is:inline></script>
