---

---

<footer>
  <span>ʕ •ᴥ•ʔ</span>
  <div class="footer-links">
    <a target="_blank" href="https://barrettruth.com/git">git</a>
    <a target="_blank" href="https://www.linkedin.com/in/barrett-ruth/"
      >linkedin</a
    >
    <a target="_blank" href="mailto:br.barrettruth@gmail.com">email</a>
  </div>
</footer>

<style>
  footer {
    padding: 20px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-links a {
    margin-left: 25px;
    text-decoration: none;
  }
</style>
