<footer>
  <span>ʕ •ᴥ•ʔ</span>
  <div class="footer-links">
    <a href="/gist" data-topic="gist">gist</a>
    <a href="/git" data-topic="git">git</a>
    <a
      href="https://www.linkedin.com/in/barrett-ruth/"
      data-topic="linkedin"
      target="_blank">linkedin</a
    >
    <a href="mailto:br.barrettruth@gmail.com" data-topic="mail">email</a>
  </div>
</footer>

<style>
  footer {
    padding: 20px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-links a {
    margin-left: 25px;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<script type="module" src="/scripts/index.js"></script>
