.graph {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.graph div {
  height: 100%;
  width: 60%;
}

.graph svg line,
.graph svg path.domain,
.graph svg .tick line {
  stroke: var(--text);
}

.graph svg text {
  fill: var(--text);
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider label {
  margin-right: 10px;
}

.slider input {
  margin-left: 20px;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: var(--text);
  cursor: pointer;
  outline: none;
  transform: translateY(-50%);
  width: 150px;
}

.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--text);
  cursor: pointer;
  position: relative;
}

.slider input::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--text);
  cursor: pointer;
  position: relative;
  border: none;
}

.slider input::-webkit-slider-runnable-track,
.slider input::-moz-range-track {
  width: 100%;
  height: 2px;
  background: var(--text);
  border: none;
}

.sliders {
  display: flex;
  justify-content: center;
}

.sliders li {
  list-style: none;
}

.romer-table-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
#romer-table {
  text-align: center;
  margin-top: 20px;
  margin: 0;
  font-size: 0.8em;
  border-collapse: collapse;
}

#romer-table th,
#romer-table td {
  border: 1px solid var(--text);
  background: var(--bg);
  text-align: center;
  padding: 5px;
}
