header {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1,
.delta {
  font-size: 4em;
  font-weight: 300;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 2em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 12px;
  font-size: 1.1em;
  line-height: 1.6;
}

a {
  color: inherit;
  border-bottom: 1px solid transparent;
}
