html,
body {
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.posts,
.topics {
  padding: 0 40px;
  align-self: center;
}

.topics {
  font-size: 3em;
}

.posts {
  font-size: 2.2em;
  text-align: right;
  flex: 1;
}

a {
  text-decoration: none;
}

.post {
  margin-bottom: 25px;
}

ul {
  list-style: none;
  margin: none;
}

.topic a {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 25px;
  transition: color 0.5s ease;
}

.topic a::after {
  content: "";
  height: 2px;
  display: block;
  margin-top: 4px;
  background: currentColor;
  width: 0;
  right: 100%;
  position: absolute;
  transition:
    width 0.5s ease,
    right 0.5s ease;
}

.topic a:hover::after,
.topic a.active::after {
  width: 100%;
  right: 0;
}

@media (max-width: 768px) {
  .topics {
    font-size: 2em;
    padding: 0 20px;
  }

  .posts {
    font-size: 1.47em;
    padding: 0 20px;
  }

  .topic a {
    margin-bottom: 15px;
  }
}
