---
const { frontmatter, post } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/posts.css" />
    <link rel="stylesheet" href="/styles/git.css" />
    <slot name="head" />
    <script src="/scripts/index.js"></script>
  </head>
  <body>
    <header class="post-header">
      <a class="home-link" href="/">barrettruth.com</a>
      <h1 class="post-title">{frontmatter.title}</h1>
      {
        frontmatter.description && (
          <p class="post-description">{frontmatter.description}</p>
        )
      }
    </header>
    <main class="post-container">
      <article class="post-body">
        <slot />
      </article>
    </main>
  </body>
</html>
