html,
body {
  font-family: "Signifier", serif;
  overflow: scroll;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: center;
}

.post-header {
  padding: 0;
}

.post-container {
  max-width: 80%;
}

.post-meta {
  font-style: italic;
  /* space between date and title */
  margin-left: 100px;
}

.post-title {
  font-weight: normal;
  font-size: 2.2em;
  margin: 50px 0;
  width: 100%;
  position: relative;
  display: inline-block;
}

.post-title::before {
  content: "";
  position: absolute;
  background-color: #0073e6;
  height: 30px;
  width: 2px;
  bottom: -10px;
  left: -20px;
}

.post-title::after {
  content: "";
  position: absolute;
  background-color: #0073e6;
  width: 200px;
  height: 2px;
  bottom: -10px;
  left: -20px;
}

article {
  font-size: 1.5em;
  line-height: 1.3em;
  padding-bottom: 50px;
}

article h2 {
  font-weight: normal;
  font-style: italic;
}
